button {
  transition: all 0.7s;
  cursor: pointer;
  &.hamburger {
    position: absolute;
    right: 5%;
    z-index: 100;
    padding: 0.7rem;
    background: $hamburguer-icon-bg;
    border-radius: 0.3rem;

    &.is-active {
      span.hamburger-inner {
        background-color: #ffffff;

        &::after {
          background-color: #ffffff;
        }
      }
    }
  }

  &.read-m {
    padding-block: 1rem;
    padding-inline: 1.6rem;
    background: transparent;
    border-radius: 0.3rem;
    border: 0.1rem solid $color-border-button;

    font-size: clamp(1.5rem, 1.32rem + 0.5vw, 1.8rem);
    font-weight: 600;
    color: $main-color;
    line-height: 1.9rem;
    &:hover {
      text-decoration: underline;
      filter: brightness(120%);
    }
  }

  &.btn-show-more {
    @include makeThisFlex(center);
    padding-inline: 1.6rem;
    padding-block: 0.8rem;
    gap: 0.8rem;
    @include gradient;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-texts;
    i {
      padding: 0.8rem;
      background: $i-bg;
    }
    &:hover {
      filter: brightness(120%);
    }
  }

  &.btn-show-text {
    font-size: 1.6rem;
    background: #0c63df26;
    padding-inline: 0.7rem;
    padding-block: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    color: $main-color;
    &:hover {
      filter: brightness(120%);
    }
  }
}

a {
  transition: filter 0.9s;
  &.btn-scheduling {
    @include makeThisFlex(center);
    gap: 0.8rem;
    @include gradient;
    border-radius: 0.3rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    color: $color-texts;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    &:hover {
      filter: brightness(120%);
    }
  }

  &.whatsapp-icon {
    @include gradient;
    @include makeThisFlex(start);
    gap: 0.7rem;
    padding-inline: 1.4rem;
    padding-block: 0.7rem;
    border-radius: 0.3rem;
    color: $color-texts;

    font-weight: 700;
    font-size: clamp(1.5rem, 1.32rem + 0.5vw, 1.8rem);
    line-height: 1.9rem;
    &:hover {
      filter: brightness(120%);
    }
  }
}
