button {
  &.hamburger {
    position: absolute;
    right: 5%;
    z-index: 100;
    padding: 0.7rem;
    background: $hamburguer-icon-bg;
    border-radius: 0.3rem;

    &.is-active {
      span.hamburger-inner {
        background-color: #ffffff;

        &::after {
          background-color: #ffffff;
        }
      }
    }
  }

  &.read-m {
    padding-block: 1rem;
    padding-inline: 1.6rem;
    background: transparent;
    border-radius: 0.3rem;
    border: 0.1rem solid $color-border-button;

    font-size: clamp(1.5rem, 1.32rem + 0.5vw, 1.8rem);
    font-weight: 600;
    color: $main-color;
    line-height: 1.9rem;
  }

  &.btn-show-more {
    @include makeThisFlex(center);
    padding-inline: 1.6rem;
    padding-block: 0.8rem;
    gap: 0.8rem;
    @include gradient;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-texts;
    cursor: pointer;
    i {
      padding: 0.8rem;
      background: $i-bg;
    }
  }

  &.btn-scheduling {
    margin-top: 1.6rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    @include makeThisFlex(center);
    align-self: start;
    gap: 0.8rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-titles;
    background: $nav-bg;
    border-radius: 0.3rem;
    border: none;
  }

  &.btn-show-text {
    font-size: 1.6rem;
    background: #0c63df26;
    padding-inline: 0.7rem;
    padding-block: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    color: $main-color;
  }
}
