$hamburger-padding-y: 15px;
$hamburger-padding-x: 15px;
$hamburger-layer-width: 1.5rem;
$hamburger-layer-color: $main-color;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 3.1px;
$hamburger-layer-border-radius: 1.2px;
$hamburger-hover-opacity: 0.7;

@import 'base';