nav#navigation {
  position: fixed;
  background: $nav-bg;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-inline: 2.4rem;
  height: $nav-height;
  @include makeThisFlex(between);

  svg {
    &.logo {
      position: relative;
      z-index: 100;
      &.active {
        path {
          transition: fill .8s;
          fill: $hamburguer-icon-bg-is-active;
        }
      }
    }
  }

  ul.nav-list {
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 1.2s;
    &.active {
      @include makeThisFlex(column);
      @include gradient;
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      gap: 3.5rem;
      visibility: visible;
      transform: translateX(0%);

      li {
        a {
          font-size: 2.5rem;
          font-weight: 600;
          color: $hamburguer-icon-bg-is-active;
          position: relative;

          transition: filter 0.6s;

          &:hover {
            filter: brightness(60%);
          }
        }
      }
    }
  }
}
