$secondary-color: #2098e3;
$main-color: #0c63df;
$nav-bg: #f2f5fa;
$slider-bg: #dae9f2;
$slider-li-bg: #ffffff;

$hamburguer-icon-bg: #0c63df26;
$hamburguer-icon-bg-is-active: #ffffff;

$header-bg: #dae9f2;
$i-bg: #f2f5fa26;
$span-background-color: #aad6f2;
$color-border-button: #030e1f17;
$color-border-dmc: rgba(2, 14, 31, 0.09);

$color-titles: #020e1fd9;
$color-texts: #ffffff;

$nav-height: max(8rem);